{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <ul style="list-style:none; padding:0; display:flex; flex-wrap: wrap; gap: 1rem;">
    {{ range .Pages.ByDate.Reverse }}
      <li style="width:150px;">
        {{ with .Params.cover }}
          <a href="{{ $.RelPermalink }}"> <!-- link to post, not image -->
            <img src="{{ . | relURL }}" alt="{{ $.Title }}" style="width: 150px; height: auto; display:block; object-fit: cover; border-radius: 4px;" />
          </a>
        {{ else }}
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ end }}
        <small>{{ .Date.Format "Jan 2, 2006" }}</small>
      </li>
    {{ end }}
  </ul>
{{ end }}